*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    color: #fff;
    text-align: left;
    padding: 0px 0px 0px 0px;
}
header {
    width: 100%;
    height: 810px;
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(204, 88%, 77%, 0.45)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(204, 57%, 60%, 0.45)), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    background-color: blue;;
    text-align: right;
    padding: 30px 50px 30px 30px;
}

nav>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.text-header h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.text-header h2 {
    color: aquamarine;
    font-size: 30px;
    font-weight: bold;
}
.container {
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.image-about-us{
    margin: 20px 20px 80px 20px;
    width: 40%;
    border-radius: 0px;
}

.about-us .content-text{
    margin: 20px;
    width: 40%;
}

.content-text h3{
    margin-bottom: 15px;
}
.content-text h3 span {
    background: #1b13b6;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.content-text p{
    padding: 0px 0px 30px 15px;
    text-align: justify;
    font-weight: 400;
}
.movies{
    background-color: aquamarine;
}
#movies .container .title{
    text-align: center;
    color: rgb(3, 2, 14);
    font-size: 50px;
    margin: 0px 0px 70px 0px;
}

.gallery-movie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-movie{
    width: 25%;
    height: 400px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.image-movie > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(212, 77%, 51%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
        width: 70px;
}

.hover-gallery p {
    color:#fff
}

.image-movie:hover .hover-gallery{
    transform: scale(1);
}
footer{
    background-color: aquamarine;
    background-image: url(../img/wave1.svg);
    padding: 80px 100px ;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
}


.content-footer{
    width: 20%;
    text-align: center;

}

.content-footer #img-footer{
    width: 70%;
}


.content-footer h4{
    color: #11203d;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}



.content-footer a{
    display: block;
    text-decoration: none;
    color:#5d6678;
    font-weight: bold;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.content-footer a:hover{
    color:#081bc3
}


.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #010a0a;
    border: 1px solid #021414;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #08c3c3;
    border-color: #08c3c3;
}
